  <html>
    <head>
    	{% if title%}
    	<title>{{title}} - mybolg</title>
    	{% else%}
    	<title>Welcome - myblog</title>
    	{% endif %}
    </head>
    <body>
    	<div>MyBlog:<a href="/index">Home</a>
        {% if g.user.is_authenticated %}
        |<a href="{{url_for('logout')}}">logout</a>
        |<a href="{{url_for('edit')}}">edit</a>
        |<a href="{{url_for('blogxlist')}}">blogxlist</a>
        |<a href="{{url_for('pinglxlist')}}">pinglxlist</a>
        {% endif %}
        </div>
    	<hr>
    	{% block content %}
    	{% endblock %}
    </body>
</html>